@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #ff7f50;
    color: white;
  }
  
  header .site-title {
    color: white;
    text-decoration: none;
  }
  
  header div {
    display: flex;
    gap: 10px;
  }

  header a.button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #4CAF50;
    border-radius: 5px;
  }

  .button-logout {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  header a.button:hover {
    background-color: #45a049;
  }
  
  .separator {
    width: 10px;
  }

  