@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://pix4free.org/assets/library/2020-12-13/originals/beach003.jpg');
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 75%; /* Changed from 800px to 75% */
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.largeSelect {
  width: 100%; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  font-size: 18px; /* Adjust as needed */
  border-radius: 5px; /* This will make the corners rounded */
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

form label {
  flex: 1 0 20%; /* Adjust this value as needed */
  margin-right: 10px;
}

form input[type="submit"] {
  flex: 1 0 100%;
  margin-top: 20px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="number"], select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 45%;
}

input[type="submit"]:hover {
  background-color: #ff6347;
}
