@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-image: url('https://wallpapers.com/images/hd/4k-beach-nature-view-s0jgy1y9poz5zg54.jpg');
  background-size: cover;
}

.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.largeSelect {
  width: 100%; /* Adjust as needed */
  height: 50px; /* Adjust as needed */
  font-size: 18px; /* Adjust as needed */
  border-radius: 5px; /* This will make the corners rounded */
}


form {
  display: flex;
  flex-direction: column;
  align-items: start;
}

form label {
  margin-bottom: 10px;
}

input[type="text"], input[type="password"], input[type="date"], input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #ff7f50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

input[type="submit"]:hover {
  background-color: #ff6347;
}
